@use "../../styles/mixins" as m;

.message__window {
  max-width: 350px;
  min-height: 9.375rem;
  max-height: 100px;
  min-width: 220px;

  .message__container {
    padding: 1rem;
    background-color: var(--window_bg);

    .message__text__container {
      margin-bottom: 1rem;
      gap: 1rem;

      .message__icon {
        height: 40px;
        filter: drop-shadow(0.2rem 0.2rem rgba(0, 0, 0, 0.3));
      }
      .message__text {
        font-size: 1rem;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-around;

      .btn__action {
        padding: 0.0625rem 1.25rem;
      }
    }
  }
}
