.popup__window {
  width: 500px;
  // max-height: 00px;
  // height: 100%;
  // width: 100%;

  .menu__bar {
    background-color: var(--window_bg);
    height: 0.8rem;
  }

  .media__container {
    background-color: var(--window_bg_darker);
    border: 1px inset var(--window_border_dark);
    border-right-color: var(--window_border_light);
    border-bottom-color: var(--window_border_light);

    max-height: 700px;
    overflow-y: auto;

    img {
      width: 100%;
    }
  }
}
