.window {
  background-color: var(--window_bg);
  padding: 0.125rem;
  // width: 100%;
  // height: 100%;

  border: 2px solid var(--window_border_light);
  border-right-color: var(--window_border_dark);
  border-bottom-color: var(--window_border_dark);

  .title__bar {
    background: var(--window_bar);
    min-height: 1.25rem;
    padding: 0.125rem;
    justify-content: space-between;

    .title__bar__name {
      gap: 0.625rem;

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      h1 {
        font-size: 0.875rem;
        letter-spacing: 0.0625rem;
        color: var(--window_title_color);
      }
    }

    .buttons__container {
      padding: 0.125rem;
      display: flex;
      align-items: center;
      gap: 0.0625rem;

      .btn {
        padding: 1px 4px;
        background-color: var(--window_bg);
        border: 0.125rem solid var(--btn_border_light);
        border-right-color: var(--btn_border_dark);
        border-bottom-color: var(--btn_border_dark);

        font-weight: 700;
        font-size: 0.6rem;

        &:active {
          border-left-color: var(--btn_border_dark);
          border-top-color: var(--btn_border_dark);
          border-right-color: var(--btn_border_light);
          border-bottom-color: var(--btn_border_light);
        }
      }
    }
  }
}
