.taskbar {
  background-color: var(--taskbar_color);
  padding: 1px;
  border: 2px solid var(--taskbar_color);
  border-top-color: var(--taskbar_border_color);
  justify-content: space-between;

  .btn {
    padding: 0.0625rem 0.125rem;

    &__start {
      gap: 0.25rem;

      .start__logo {
        height: 1.25rem;
        width: 1.25rem;
      }

      h3 {
        font-size: 0.875rem;
      }
    }
  }

  .notification__area {
    gap: 10px;

    .crt {
      gap: 5px;

      span {
        font-size: 0.6rem;
        text-shadow: -1px -1px 1px #fff;
      }

      .btn__effect {
        height: 15px;
        width: 20px;
      }
      .btn__effect--active {
        background-color: #a6a6a6;
        border-style: solid;
        border-width: 2px;
        // border-color: #010601 #c7c7df #c7c7df #010601;
        // box-shadow: #5a5a5a 1px 1px 0px 1px inset,
        //   #5a5a5a -1px -1px 0px 1px inset;

        border-left-color: var(--btn_border_dark);
        border-top-color: var(--btn_border_dark);
        border-right-color: var(--btn_border_light);
        border-bottom-color: var(--btn_border_light);
      }
    }

    .date {
      padding: 0.25rem 1rem;
      border: 0.0625rem solid #d0d0c8;
      border-left-color: #808080;
      border-top-color: #808080;
      border-right-color: #fff;
      border-bottom-color: #fff;
      background-color: #c8c8c3;
      font-size: 0.75rem;
    }
  }
}
