.toolbar {
  background-color: #e14a11;
  height: 2rem;

  background-color: var(--toolbar_color);
  padding: 0.125rem 0.25rem;
  border: 0.125rem solid #d0d0c8;
  border-left-color: #fff;
  border-top-color: #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
}
